[Unit]
Description=ufla-devops-shop
After=postgresql.service redis-server.service
Wants=postgresql.service redis-server.service

[Service]
Type=simple
User=ufla-shop
Group=ufla-shop
WorkingDirectory=/opt/ufla-shop
EnvironmentFile=/etc/ufla-shop.env
ExecStart=/opt/ufla-shop/.venv/bin/uvicorn app:api --host 127.0.0.1 --port 8000
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
